
.login-pannel{
    background-color: #181818;
    color: white;
    height: 100vh;
    // text-align: center;

    .login-heading{
        text-align: center;
        margin-top: 25px;
    }

    form{
      width: 320px;
      margin: 0 auto;
      margin-top: 50px;

      input{
          width: 320px;
          height: 35px;
          background: #181818;
          border: 1px solid #555;
          color: white;
          padding: 5px;
      }

      input[type=button]{
        background-color: #f96816;
        border: none;
        }
        input:focus{
        outline:none;
        }

      small p{
          text-align: center;
          margin-top: 25px;   
      }

      .lineCover{
          margin-top: 45px;
      }

      .firstAndSecondLine{
        border: 1px solid white;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    .Ortext{
        text-align: center;
        margin-top: -10px;
    }
    
    .buttonCover{
        text-align: center;
        margin-top: 45px;
        // width: 200px
    }
    button{
        width: 200px;
        height: 40px;
        background: #181818;
        color: white;
    }
    
    button:hover{
        border: #f96816 1px solid;
        color: #f96816;
    }
    
    }



   

   

  
}



.flex-box{
    display: flex;
    
}

